node_modules/

dist/

.cache/
coverage/

yarn.lock
package-lock.json
pnpm-lock.yaml

.vscode/
.idea/
.DS_Store

*.d.ts

.env
.env.local
.env.development
.env.production
.env.test

*.min.js
*.min.css

**/*.{png,jpg,jpeg,gif,svg,ico,mp4,mp3,webm,pdf,zip,tar.gz}